<div class="layout-left">
	<h2>Rpg Maker XP</h2>
	<p>
		Rpg Maker XP (RMXP pour les intimes) fût ma toute première initiation à l'informatique
		rubixcude (entendez "programmation" bien sur).
	</p>
</div>
<div class="layout-right">
	<h3>Projéts RPG Maker</h3>
	<p>
		Pas grand chose. Plusieurs petit "mini-rpg" old school. Je me suis surtout fais la main
		avec Ruby et sa librairie RGSS (propre à RPG Maker) pour créer des systèmes de combats
		inédits !
	</p>
</div>
